'scopeName': 'source.pepe'
'name': 'PEPE Assembly'
'fileTypes': [
  'asm'
]
'patterns': [
  {
    'include': '#comments'
  }
  {
    'include': '#labels'
  }
  {
    'include': '#instructions'
  }
  {
    'include': '#preprocessor'
  }
]
'repository':
  'comments':
    'patterns': [
      {
        'match': '(;)(.*)'
        'captures':
          '1':
            'name': 'pepe.punctuation.comment'
          '2':
            'name': 'pepe.line.comment'
      }
    ]
  'instructions':
    'patterns': [
      {
        'match': '^(?:\\s*)(ADD|ADDC|SUB|SUBB|CMP|MUL|DIV|MOD|NEG|AND|OR|NOT|XOR|TEST|BIT|SET|EI|EI0|EI1|EI2|EI3|SETC|EDMA|CLR|DI|DI0|DI1|DI2|DI3|CLRC|DDMA|CPL|CPLC|SHR|SHL|SHRA|SHLA|ROR|ROL|RORC|ROLC|MOV|MOVB|MOVBS|MOVP|MOVL|MOVH|SWAP|PUSH|POP|JZ|JNZ|JN|JNN|JP|JNP|JC|JNC|JV|JNV|JEQ|JNE|JLT|JLE|JGT|JGE|JA|JAE|JB|JBE|JMP|CALL|CALLF|RET|RETF|SWE|RFE|NOP)(?:(?:\\s*;)|(?:(?!:|\\S)(?:\\s*((?:\\[)?\\w+(?:\\])?)(?:(,)\\s*((?:\\[)?\\w+(?:\\])?))?)?))'
        'captures':
          '1':
            'name': 'pepe.keyword.operator'
          '2':
            'patterns': [
              {
                'include': '#registers'
              }
              {
                'include': '#constants'
              }
            ]
          '3':
            'name': 'pepe.meta.separator'
          '4':
            'patterns': [
              {
                'include': '#registers'
              }
              {
                'include': '#constants'
              }
            ]
      }
    ]
  'preprocessor':
    'patterns': [
      {
        'match': '^(?:\\s*)(\\w+)(?:\\s*)(EQU)(?:\\s*)(\\w+)'
        'captures':
          '1':
            'patterns': [
              {
                'include': '#constants'
              }
            ]
          '2':
            'name': 'pepe.meta.keyword'
          '3':
            'patterns': [
              {
                'include': '#constants'
              }
            ]
      }
      {
        'match': '^(?:\\s*)(PLACE|WORD|STRING|TABLE)(?:\\s*)(\\w+)(?:(?:\\s*)(,)(?:\\s*)(\\w+))?'
        'captures':
          '1':
            'name': 'pepe.meta.keyword'
          '2':
            'patterns': [
              {
                'include': '#constants'
              }
            ]
          '3':
            'name': 'pepe.syntax.separator'
          '4':
            'patterns': [
              {
                'include': '#constants'
              }
            ]
      }
    ]
  'registers':
    'patterns': [
      {
        'match': '(R(?:1[1-9]))'
        'name': 'pepe.variable.register.invalid.illegal'
      }
      {
        'match': '(\\[R(?:10|[0-9]|X)\\])'
        'name': 'pepe.variable.register'
      }
      {
        'match': '(R(?:10|[0-9]|X))'
        'name': 'pepe.variable.memory'
      }
      {
        'match': '(SP|BTE)'
        'name': 'constant.language.registers.special'
      }
    ]
  'constants':
    'patterns': [
      {
        'match': '\\b[01]+b\\b'
        'name': 'pepe.constant.numeric.binary'
      }
      {
        'match': '\\b[0-9]+\\b'
        'name': 'pepe.constant.numeric.dec'
      }
      {
        'match': '\\b([0-9a-fA-F]+[hH]|0x[0-9a-fA-F]+)\\b'
        'name': 'pepe.constant.numeric.hex'
      }
      {
        'match': '\\w+'
        'name': 'pepe.constant.language.macro'
      }
    ]
  'labels':
    'patterns': [
      {
        'match': '^(?:\\s*)(\\w+?)(:)'
        'captures':
          '1':
            'name': 'pepe.meta.tag.entity'
          '2':
            'name': 'pepe.meta.tag.punctuation'
      }
    ]
